body {
  font-family: "Raleway", sans-serif;
}

/* Navbar */


.navbar-brand img {
  max-width: 60px;
  max-height: 60px;
}


/* Hero Section */

#Hero-Section {
  background-image: url("../img/Manos02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 35%;
  text-shadow: 1px 0 rgb(182, 179, 179), -1px 0 rgb(182, 179, 179), 0 1px rgb(182, 179, 179), 0 -1px rgb(182, 179, 179),
  1px 1px rgb(182, 179, 179), -1px -1px rgb(182, 179, 179), 1px -1px rgb(182, 179, 179), -1px 1px rgb(182, 179, 179);
  letter-spacing: 1px ;
  
}
header p {
  font-size: 18px;
}

/* ¿Por qué venir a terapia? */

#Terapia .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
#Terapia {
  margin: 0%;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

}
